.sidebar {
    grid-area: nav;
    background-color: #13ce66;
    font-size: 30px;
    margin: 0 auto;
}

.menu {
    list-style: none;
    padding: 15px;
}

.link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.item:last-child {
    margin-top: 80px;
}

.active {
    color: gold;
}