.wrap {
  grid-area: footer;
  /*background-color: #13ce66;*/
  align-items: center;
  width: 100%;

}

.right {
  margin: 20px auto;
  text-align: center;
  /*width: 100%;*/
  /*margin: 0 auto;*/
}

.allRight {
  /*color: white;*/
}