body {
    background-color: #e2e8ea;
}

.app-wrapper {
    display: grid;
    grid-template-areas: "header header header" "nav content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
    max-width: 960px;
    margin: 20px auto;
    background-color: #e2e8ea;
}

.app-wrapper-content {
    grid-area: content;
    border-radius: 10px;
}